@import "util";

.rightContainer {
    float: right;
}

.sbButton {
    background-color: $primary-color-light;
    // background-color: rgba(0, 0, 0, 0);
    border-radius: $roundness;
    border: 0px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin-right: 10px;
}

.sbButton:hover {
    background-color: $primary-color-lightest;
}

.sbButton:active {
    background-color: $primary-color-dark;
}