/* Customize the label (the container) */
.cbContainer {
    display: inline-block;
    position: relative;
    padding: 5px;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* width: 200px; */
    margin-bottom: -15px;
}

.cbContainer label {
    padding-left: 10px;
    font-weight: normal;
    user-select: none;
}

/* Hide the browser's default checkbox */
.cbContainer input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    background: #c53023;
    color: white;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
    float: left;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

/* On mouse-over, add a grey background color */
.checkmark:hover {
    background-color: #ea9088;
}

/* When the checkbox is checked, add a blue background */
.cbContainer input:checked ~ .checkmark {
    background-color: #ea9088;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cbContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cbContainer .checkmark:after {
    margin: auto;
    /* left: 5px;
    top: 5px; */
    width: 10px;
    height: 10px;
    border: solid white;
    border-width: 5px 5px 5px 5px;
    border-radius: 5px;
}
